{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt install -y {{ .packages.debian.apt | join " " }}

{{ if stat (joinPath .chezmoi.homeDir ".work") -}}
# for work script
apt install -y {{ .packages.debian.work | join " "  }}

{{ end -}}

{{ end -}}
