{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if command -v google-chrome 2>&1 > /dev/null; then
   echo "chrome installed, skip"
   exit 0
fi

TEMP=$(mktemp -d)
cd $TEMP
wget 'https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb'
sudo apt install -y ./google-chrome-stable_current_amd64.deb
# add google repo automatically

{{ end -}}
