{{ if stat (joinPath .chezmoi.homeDir ".work") -}}
#!/bin/bash

if [ -d "/etc/apt/sources.list.d/mattermost_stable.list " ]; then
    echo "key is installed skip mattermost"
fi

curl -fsS -o- https://deb.packages.mattermost.com/setup-repo.sh | sudo bash

{{ end -}}
