diff:
  pager: delta

merge:
  command: "lazygit"
  args:
    - "--filter"
    - "{{ "{{ .Destination }}" }}"

bitwarden:
  command: "bw"

bitwarden.unlock:
  auto: "true"

encryption: age
age:
  identity: {{ .chezmoi.homeDir }}/.key/chezmoi.key
  recipient: age1qnmt3un3yl2lzcl23vmfh53f2l9vr7ytrzng4p6a80lsd3s2sg0q04el9j
